{block content}

<h1 n:inner-block="title">Registrace</h1>

<p>System je zatím v plenkách a nečekám nějaký masivní narůst uživatelů, takže kdo budete chtít účet, tak mi napište na 
<a href="mailto:pavel.kacha@greep.cz">mail</a>. Díky za pochopeni.</p>

{*control signForm*}

<p>Už máš login? Tak <a n:href="in">se přihlašte</a>.</p>